body{
    font-family: 'Be Vietnam Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.profile{
    width: 200px;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.avatar{
    height: 120px;
    width: 120px;
    border: 1px solid white;
    border-radius: 50%;
    object-fit: cover;
}

.name{
    color: aliceblue;
}

.title{
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.bio{
    font-size: 16px;
    color: white;
    line-height: 1;
}

.social-link{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-button{
    text-decoration: none;
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 17px;
}